<%- include('partials/head.ejs') -%>
<%- include('./partials/progress.ejs') -%>
<link rel="stylesheet" href="/stylesheets/auth.css">
<div class="container-fluid p-0 m-0">
  <div class="auth">
    <form action="/register/email/validation" method="POST" class="mx-400 w-100">
      <h1 class="text-left mb-3">Validation d'email</h1>
      <hr>
      <div class="form-group">
        <label for="key">clé secret</label>
        <input type="text" id="key" name="key" class="form-control" placeholder="clé secret" required>
      </div>
      <button class="btn btn-lg btn-success btn-block mt-3 mb-3 font-s14" type="submit">valider</button>
      <div>
        <% if(locals.msg && locals.c === undefined) { %>
        <hr>
        <div class="alert alert-dark mx-400" role="alert"><%= msg %></div>
        <% } %>

        <% if(locals.msg && locals.c === 0) { %>
        <hr>
        <div class="alert alert-dark mx-400" role="alert"> <%= msg %> <a href="/login">se connecter</a></div>
        <% } %>
      </div>
    </form>
  </div>
</div>
<script src="javascripts/validation.js" defer></script>
</body>
</html>